@import 'responsive';

.home__products-title {
	font-size: 2.6rem;
	font-weight: 400;
	color: #000;
	text-align: center;
	padding-bottom: 30px;
}

.product {
	&-item {
		text-align: center;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 30px;

		& > a {
			display: block;

			& > img {
				height: 100%;
			}
		}

		&__description {
			padding: 8px 0;
			text-align: center;
		}

		&__category {
			display: inline-block;
			text-transform: uppercase;
			font-weight: 700;
			color: #000;
			font-size: 0.78rem;
			text-align: center;

			&:hover {
				text-decoration: none;
				color: #000;
			}
		}

		&__name {
			text-transform: capitalize;
			font-size: 1rem;
			font-weight: 400;
			color: #000;
			line-height: 1.3rem;
		}

		&__price {
			font-size: 0.9rem;
			color: #000;
			font-weight: 400;
			margin-top: 8px;
		}
	}
}

.sold-out {
	font-size: 0.9rem;
	margin-top: 4px;
	color: #000;
	font-weight: 400;
}
