.auth-header__wrapper {
	background-color: #000;
	height: var(--auth-header-height);
	display: flex;
	align-items: center;
}

.auth-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	& > li:first-child {
		margin-right: 2rem;
		position: relative;

		&:after {
			content: '.';
			display: block;
			position: absolute;
			top: -7px;
			right: -18px;
			color: #fff;
			font-size: 1.4rem;
		}
	}

	& > li > a {
		color: #fff;
		font-weight: 700;
		font-size: 0.7rem;
		text-transform: uppercase;

		&:hover {
			text-decoration: underline;
			opacity: 0.9;
		}
	}
}

.main__header {
	position: relative;
	background-color: #fff;
	display: flex;
	align-items: center;
	height: var(--main-header-height);
}

.header__navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > ul {
		display: flex;
		align-items: center;

		& > li {
			margin-right: 2rem;

			& > a {
				color: rgb(14, 14, 14);
				font-weight: 400;
				font-size: 0.84rem;
				text-transform: uppercase;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.header {
	height: 100%;
}

.header-logo {
	max-height: 60px;
}

.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.hero {
	position: relative;
	margin-top: 110px;
	left: 0;
	right: 0;
	height: 67vh;
	overflow: hidden;

	&__wrapper {
		background-image: url('../../assets/img/homepage_hero_image.webp');
		background-position: center top 40%;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	&__content {
		position: absolute;
		top: 30%;
		z-index: 1;
		& > p {
			color: #fff;
			font-size: 2.34rem;
			letter-spacing: 2px;
			font-weight: 500;
			margin-bottom: 4px;
		}

		& > a {
			color: #fff;
			text-decoration: underline;
			font-size: 1.8rem;
			font-weight: 400;
		}
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000;
		opacity: 0.3;
	}
}

.scroll-icon {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);

	& > a {
		--size: 46px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 1.3rem;
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		background-color: rgba(172, 172, 172, 0.5);
		transition: all 0.15s linear;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: var(--size);
			height: var(--size);
			border: 2px solid #fff;
			border-radius: 50%;
			transition: all 0.15s linear;
			visibility: hidden;
		}

		&:hover {
			color: #000;
			background-color: #fff;
			&:after {
				visibility: visible;
				transform: scale3d(1.5, 1.5, 1.5);
			}
		}
	}
}

.mobile-header__navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mobile-cart-icon {
	width: 25px;
	height: 25px;
	cursor: pointer;
	user-select: none;

	background-image: url('../../assets/img/cart.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.mobile-bars-icon {
	width: 25px;
	height: 25px;
	cursor: pointer;
	user-select: none;

	background-image: url('../../assets/img/nav.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.mobile-header {
	display: none;
}

.mobile-nav {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #fff;
	padding: 30px;
	min-width: 100%;
	transform: translate3d(100%, 0, 0);
	transition: all 0.15s ease;

	&__list {
		& > li {
			padding: 16px 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);

			& > a {
				color: rgba(0, 0, 0, 0.9);
				text-transform: uppercase;
				letter-spacing: 0.5px;
				line-height: 1.2;
				font-size: 11.7px;
				font-weight: 400;
				&:hover {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	&.open {
		transform: translate3d(0, 0, 0);
	}
}

#scroll {
	position: absolute;
	bottom: 0;
	transition: all 0.2s ease;
}

@media (min-width: 768px) {
	.mobile-nav {
		min-width: 400px;
	}
}

@media (max-width: 800px) {
	.desktop-header {
		display: none;
	}

	.mobile-header {
		display: flex;
	}
}
