body {
	background-color: rgba(203, 203, 210, 0.15);
}

.table td {
	vertical-align: middle;
}

@media (min-width: 1200px) {
	.main-panel {
		margin-left: 260px;
	}
}

@media (max-width: 1199.9px) {
	.admin-sidebar {
		transform: translate3d(-100%, 0, 0);
		transition: transform 0.2s ease-in;
	}
}
